.middle{
    width:100%;
    height: 76%;
    overflow: hidden;
    background-color: #FCFCFC;
    margin-top: 3px;
}
.middleLine{
    width: 85%;
    margin: 0 auto;
    height:100%;
    overflow: hidden;
}
.m_l{
    width: 50%;
    height: 100%;
    float: left;
}
.m_p{
    margin-top: 15%;
    margin-left: 20%;

}
.m_p img{
    width: 100%;
    height: 100%;
}
.m_r{
    width: 49%;
    height: 100%;
    float: left;
}
.deng{
    width: 70%;
    height: 100%;
    margin-left: 50px;
    margin-top: 7%;
}
.deng_lu{
    width: 100%;
    height: 400px;
    border: 2px solid rgba(175, 175, 175, 0.75);
    border-radius: 10px;
}
.deng_lu li{
    line-height: 56px;
    position: relative;
    height: 56px;

}
.d_s{
   float: left;
    width: 100px;
    text-align: right;
}
.deng_lu input{
    height: 60%;
}
.choose{
    width: 10px;
    height: 53px;
    float: left;
    margin-left: 20%;
    margin-right: 10px;

}
.c_l,.c_r{
    width:34%;
    float: left;

}
.send{
    border: none;
    width: 70%;
    background-color: #FF2832;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: larger;
}
 a:hover{color: #c81522;}
html,body{ font-family:"ו";
      width: 100%;
       height:100%}
.headList{width: 100%;
    background: #FFFFFF;
    height: auto;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.49);

}
a{text-decoration: none;color: gray;}
.headList a:hover{color: #c81522;}
.headLeft{
    height: 60px;
    width: 90px;
    line-height: 60px;
    float: left;
    margin-top:15px;
    margin-left: 10%;
    background-color: #f10215;
    }
.headRight{float: right;
    line-height: 70px;
    font-size: 14px;
    margin-right:10%;}



.bottomLine {
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    background: url("../images/paint.png") repeat, gainsboro;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation-name: bottomLine-animation;
    -webkit-animation-duration: 40s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-transition: color .6s linear;
    margin-top: 20px;

}
@-webkit-keyframes bottomLine-animation {
    0% {background-position: left bottom;}
    100% {background-position: right bottom;}
}
.name{
    font-size: x-small;
    color: rgba(0, 0, 0, 0.62);
}
.res{
    position: absolute;
    right:6%;
    top: 1%;
    color: rgba(255, 40, 50, 0.76);
    font-size: 10px;
    display: none;
}
.res1{
    position: absolute;
    right:2%;
    top: 1%;
    color: rgba(255, 40, 50, 0.76);
    font-size: 10px;
    display: none;

}
.yan_b{
    float: left;
    width: 25%;
    height: 38px;
    line-height: 38px;
    background-color: rgba(192, 192, 192, 0.55);
    margin-top:8px;
    margin-left: 7px;
    margin-right: 7px;
    text-align: center;
}
.b_c{
    display: inline-block;
    font-size: 15px;
    height: 50px;

}
.div_yan{
    float: left;
    font-weight: bold;
    width: 23%;
    height: 100%;

}
.yan{
    position: absolute;
    top: 30px;
    left: 100px;
    color: #FF2832;
    display: none;
    font-size: 10px;
}
.send_b{
    position: relative;
}
.user{
    position: relative;
}
.user_f{
    color: #f10215;
    position: absolute;
    left: 40%;
    top: 30%;
    font-size: 10px;
    display: none;

}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: rgba(153, 153, 153, 0.72);
    font-size: 10px;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color:rgba(153, 153, 153, 0.72);
    font-size: 10px;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color:rgba(153, 153, 153, 0.72);
    font-size: 10px;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: rgba(153, 153, 153, 0.72);
    font-size: 10px;
}