/**{margin: 0;padding: 0;}*/
body{ font-family:"ו";}
.headList{width: 100%;height: 35px;background: gainsboro; }
a{text-decoration: none;color: gray;}
.headList a:hover{color: #c81522;}
.headLeft{line-height: 35px;float: left;font-size: 14px;margin-left: 10%;}
.headLeft p{float: left;color: grey;}
.headLeft a{margin-left: 10px;}
.headRight{float: left;  line-height: 35px;  font-size: 14px;  margin-left: 44%;}
.live{color:#f10215;}

.ul_h li{
    float: left;
    width: 55px;
    text-align: left;
}

.topLine{width: 85%;margin: auto;height: 150px;}
.stationLogo{
    width: 200px;
    height: 130px;
    background: orange;
    margin-left:8%;
    margin-top: 10px;
    float: left;}
.search{
    position: relative;
    top: 10px;
    left:50px;
    margin-left:7%;
    margin-top:40px;
    float: left;
    height: 50px;
    line-height: 50px;
}
.searchBlock{
    float: left;
    width: 500px;
    height: 41px;
    border: 2px solid  #f10215;
}
/*.search_f{
    height: 50px;
    line-height: 50px;
}*/
.searchButton{
    margin-left: -10px;
    border: none;
    width:60px;
    height: 45px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/search1.png");

}

.bottomLine {
    width: 100%;
    height: 150px;
    line-height: 150px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    background: url("../images/paint.png") repeat, gainsboro;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation-name: bottomLine-animation;
    -webkit-animation-duration: 40s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-transition: color .6s linear;
}
@-webkit-keyframes bottomLine-animation {
    0% {background-position: left bottom;}
    100% {background-position: right bottom;}
}